<%- include ('partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100">
    <div id="header" class="header">
        <%- include ('partials/header.ejs') %>
    </div>
    <div id="contents" class="d-flex justify-content-center flex-grow-1">
        <div id="reviews" class="bg-white col-12 col-sm-10">
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">MR 제목 1</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">작성자: 김보석 | 날짜: 2024-10-20</h6>
                            <p>MR 설명 내용이 여기에 들어갑니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">MR 제목 2</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">작성자: 홍길동 | 날짜: 2024-10-21</h6>
                            <p>MR 설명 내용이 여기에 들어갑니다.</p>
                        </div>
                    </div>
                </div>
                <!-- 추가 카드들 -->
            </div>
        </div>        
    </div>
    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/scripts.ejs') %>
</body>
</html>