<%- include ('partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100">
    <%- include ('partials/header.ejs') %>
    <div id="contents" class="d-flex justify-content-center flex-grow-1">
        <div id="reviews" class="bg-white col-12 col-sm-10">
        </div>
    </div>
    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/scripts.ejs') %>
</body>
</html>