<%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/header.ejs') %>
    <div id="content" class="content">

    </div>
    <h1 id="testId">적용 댐</h1>
    <script defer src="../webPackBuild/bundle.js"></script>
</body>
<%- include ('partials/footer.ejs') %>
</html>