<%- include ('partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100">
    <div id="contents">
        
    </div>
    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/scripts.ejs') %>
</body>
</html>