<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-12 col-md-3 mb-2 mb-md-0 text-center text-md-start">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="header-logo" src="../../static/images/CI_synapsoft.png" alt="Home">
        </a>
    </div>

    <div id="userInfo" class="col-12 col-md-3 text-center text-md-end">
    </div>
</header>
